.team {
  display: flex;
}

.about {
  font-size: 20px;
  font-family: "Montserrat", monospace;
}

.designation {
  font-size: 30px;
  font-family: 'Overpass Mono' , monospace;
}

.team-containers > span{
  color: white;
  text-align: justify;
}

.team-containers {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.team img {
  height: 400px;
  object-fit: contain;
  object-position: left;
}

.intro-text {
  margin-top: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: white;
}

.intro-text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;

  padding: 10px 0px;
}

.footer {
  background-color: #777777;
  margin-top: 20px;
}

.contact {
  height: 70px;
  display: flex;
  align-items: center;
}

.contact span {
  margin-left: 10px;
}

.contact:nth-child(3) {
  margin-left: auto;
}

.contact svg {
  display: block;
  height: 100%;
  width: 40%;
}

.follow {
  display: grid;
  width: 10%;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 10px 10px auto;
}

.follow span {
  grid-column: span 3 / auto;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.contact ion-icon {
  font-size: 25px;
  margin-left: 20px;
  color: black;
}
.call,
.mail {
  display: flex;
  align-items: center;
}

.hover-text {
  font-size: 0px;
  font-family: "Overpass Mono", monospace;
  transition: all 350ms ease;
}

.call a:hover + span {
  font-size: inherit;
}
.mail a:hover + span {
  font-size: inherit;
}
